{{- if .Values.cacher.enable }}

apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "scanner.fullname" . }}-trivydb-cacher
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "scanner.labels" . | nindent 4 }}
  {{- with .Values.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 2
      ttlSecondsAfterFinished: 120
      template:
        spec:
          {{- include "appscode.imagePullSecrets" . | nindent 10 }}
          serviceAccountName: {{ include "scanner.serviceAccountName" . }}
          automountServiceAccountToken: true
          containers:
          - name: cacher
            {{- if eq "true" ( include "distro.openshift" . ) }}
            securityContext:
              {{- toYaml (omit .Values.cacher.securityContext "runAsUser" "runAsGroup" "fsGroup" "supplementalGroups") | nindent 14 }}
            {{- else }}
            securityContext:
              {{- toYaml .Values.cacher.securityContext | nindent 14 }}
            {{- end }}
            image: {{ include "cacher.registry" . }}/{{ .Values.cacher.repository }}:{{ .Values.cacher.tag }}{{ include "operator.ubi" . }}
            imagePullPolicy: {{ .Values.imagePullPolicy  }}
            workingDir: /tmp
            command:
            - /scripts/update-trivydb.sh
            env:
            - name: FILESERVER_ADDR
              value: https://{{ include "scanner.fullname" . }}.{{ .Release.Namespace }}.svc
            - name: REGISTRY
              value: {{ .Values.registryFQDN }}
            resources:
              {{- toYaml .Values.cacher.resources | nindent 14 }}
            volumeMounts:
            - mountPath: /var/serving-cert
              name: serving-cert
            - mountPath: /tmp
              name: tmp
          restartPolicy: Never # OnFailure
          volumes:
          - name: serving-cert
            secret:
              defaultMode: 420
              secretName: {{ include "scanner.fullname" . }}-apiserver-cert
          - name: tmp
            emptyDir: {}
  schedule: {{ .Values.cacher.schedule | quote }}
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  suspend: false
{{- end }}