apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "sidekick.fullname" . }}
  labels:
    {{- include "sidekick.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps.k8s.appscode.com
  resources: ["*"]
  verbs: ["*"]
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs: ["*"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list","watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["*"]
- apiGroups:
    - ""
  resources:
    - namespaces
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - work.open-cluster-management.io
  resources:
    - manifestworks
  verbs:
    - get
    - create
    - list
    - watch
    - patch
    - delete
- apiGroups:
    - networking.kubeslice.io
  resources:
    - serviceimports
  verbs:
    - list
    - watch
    - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "sidekick.fullname" . }}:leader-election
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "sidekick.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
